<style type="text/css">

  #description {
      padding: 3em;
  }
  #description * {
      text-align: center;
  }
  #description p {
      font-size: 1.3em;
      margin-top: 3em;
  }
  #description b {
      font-weight: bold;
      color: cornflowerblue;
  }
  #description h1 b {
      font-family: 'Lobster', serif;
  }
  /* Custom */
  #description p {
    margin-top: 1em;
  }
  #description b.danger {
      color: crimson;
  }
  #description ul {
    font-size: 1.3em;
    text-align: left;
  }
</style>
