<style type="text/css">

 .viewport {
   margin-left: 1em;
   margin-right: 1em;
  }

  .stream-window {
  border-radius: 10%;
  border: 0.5em solid #D4D6D8;

  box-shadow: 4px 4px 10px -3px rgba(0, 0, 0, 0.5);

  height: 240px;
  width: 320px;
  }

  .invisible {
   display: none;
  }

  .forms-container {
   margin-top: 3em;
  }

  .forms-container > form {
  display: block;
  }

  /*.forms-container .fa {
 margin-right: 1em;
  }*/

  form {
  margin-top: 1em;
  margin-bottom: 0;
  font-size: 1.3em;
  }

  #stream-video {

    display: block;
  }

  #description {
      padding: 3em;
      padding-top:0;
  }

  #description * {
      text-align: center;
  }

  #description p {
      font-size: 1.3em;
      margin-top: 3em;
  }

  #description b {
      font-weight: bold;
      color: cornflowerblue;
  }

  #description h1 b {
      font-family: 'Lobster', serif;
  }
  /* Custom */
  #description p {
    margin-top: 1em;
  }

  #description b.danger {
      color: crimson;
  }

  #description ul {
    font-size: 1.3em;
    text-align: left;
  }

  #description p.danger {
      margin: 2em;
      color: crimson;
  }

  #description h1 {
    display: block;
  }

  #canvas-face-tracker {
    position: absolute;
    z-index: 100;
  }



</style>
