<style type="text/css">
  body {

    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;
  }


  /* standard stuff */
  .invisible {
      display: none;
  }

  #description {
      padding: 3em;
      max-height: 80%;
      overflow-y: auto;
  }

  #description * {
      text-align: center;
  }

  #description p {
      font-size: 1.3em;
      margin-top: 3em;
  }

  #description b {
      font-weight: bold;
      color: cornflowerblue;
  }

  #description h1 b {
      font-family: 'Lobster', serif;
  }


  /* custom stuff */
  #description {
    padding: 1em;
    padding-top: 0.5em;

    position: fixed;
    top:0;
    background: white;
    opacity: 0.9;
    border-radius: 1em;
    margin:1em;
  }

  #description p {
    margin-top: 1em;
  }

  #description .closebutton {
    content: 'x';
    font-family: 'Arial', sans-serif;
    font-size: 1.5em;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0.5em;

    cursor:pointer;
  }

</style>
